#s-1cc59dfa-78a5-47f5-99f0-1aac250e12c0 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-1cc59dfa-78a5-47f5-99f0-1aac250e12c0 #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1cc59dfa-78a5-47f5-99f0-1aac250e12c0 #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1cc59dfa-78a5-47f5-99f0-1aac250e12c0 #s-Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 116px;
  height: 33px;
  -ms-transform: rotate(0.0deg);
}
#s-1cc59dfa-78a5-47f5-99f0-1aac250e12c0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}