#s-45afdfca-2439-4ea9-9851-fd4eaa75f85a #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45afdfca-2439-4ea9-9851-fd4eaa75f85a #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45afdfca-2439-4ea9-9851-fd4eaa75f85a #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45afdfca-2439-4ea9-9851-fd4eaa75f85a #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45afdfca-2439-4ea9-9851-fd4eaa75f85a #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45afdfca-2439-4ea9-9851-fd4eaa75f85a #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45afdfca-2439-4ea9-9851-fd4eaa75f85a #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45afdfca-2439-4ea9-9851-fd4eaa75f85a #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45afdfca-2439-4ea9-9851-fd4eaa75f85a #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45afdfca-2439-4ea9-9851-fd4eaa75f85a #s-Button_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=36) ;
  filter: alpha(opacity=36) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Image_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45afdfca-2439-4ea9-9851-fd4eaa75f85a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}