#s-792dd1f8-faa8-4e8d-8468-cafa144ec71f #s-Panel_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C5E1EC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C5E1EC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C5E1EC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C5E1EC;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 1006px;
  height: 494px;
}
#s-792dd1f8-faa8-4e8d-8468-cafa144ec71f #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-792dd1f8-faa8-4e8d-8468-cafa144ec71f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-792dd1f8-faa8-4e8d-8468-cafa144ec71f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-792dd1f8-faa8-4e8d-8468-cafa144ec71f #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-792dd1f8-faa8-4e8d-8468-cafa144ec71f #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-792dd1f8-faa8-4e8d-8468-cafa144ec71f #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 0px 0px 3px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 165px;
  height: 22px;
  -pie-background: linear-gradient(to bottom,#E8E8E8,#FFFFFF);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-792dd1f8-faa8-4e8d-8468-cafa144ec71f #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-792dd1f8-faa8-4e8d-8468-cafa144ec71f #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-792dd1f8-faa8-4e8d-8468-cafa144ec71f #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-792dd1f8-faa8-4e8d-8468-cafa144ec71f #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-792dd1f8-faa8-4e8d-8468-cafa144ec71f #s-Button_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BC0DE;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BC0DE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BC0DE;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BC0DE;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 118px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-792dd1f8-faa8-4e8d-8468-cafa144ec71f #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-792dd1f8-faa8-4e8d-8468-cafa144ec71f #s-Button_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-792dd1f8-faa8-4e8d-8468-cafa144ec71f #s-Button_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9534E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9534E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9534E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9534E;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-792dd1f8-faa8-4e8d-8468-cafa144ec71f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}