#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 > #backgroundBox {
  background-color: #C5E1EC;
  background-image: none;
  position: absolute;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Button_11 {
  position: absolute;
  top: 648px;
  left: 773px;
  width: 116px;
  height: 21px;
  background-color: #5CB85C;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Button_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Button_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Button_11 span#rtr-s-Button_11_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Master_item_1 div.offset {
  position: relative;
  top: -104px;
  left: -198px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Master_item_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1027px;
  height: 126px;
  overflow: visible;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-TabStrip_1 {
  position: absolute;
  top: 182px;
  left: 97px;
  width: 802px;
  height: 452px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Paris {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 800px;
  height: 452px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Rectangle_1158 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 15px;
  padding-left: 250px;
  width: 533px;
  height: 450px;
  background-color: #C5E1EC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 3px 0px #D9D9D9;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Rectangle_1158 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Rectangle_1158 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Rectangle_1158 span#rtr-s-Rectangle_1158_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 191px;
  height: 47px;
  background-color: #E84737;
  background-image: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #3AABF0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot span#rtr-s-show_bot_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot span#rtr-s-show_bot_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot span#rtr-s-show_bot_2 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_1 {
  position: absolute;
  top: 0px;
  left: 189px;
  width: 233px;
  height: 46px;
  background-color: #E84737;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_1 span#rtr-s-show_bot_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_1 span#rtr-s-show_bot_1_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_2 {
  position: absolute;
  top: 0px;
  left: 420px;
  width: 191px;
  height: 46px;
  background-color: #E84737;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_2 span#rtr-s-show_bot_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_2 span#rtr-s-show_bot_2_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_3 {
  position: absolute;
  top: 0px;
  left: 609px;
  width: 191px;
  height: 46px;
  background-color: #E84737;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_3 span#rtr-s-show_bot_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Image_220 {
  position: absolute;
  top: 80px;
  left: 241px;
  width: 331px;
  height: 365px;
  opacity: 0.55;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-NY {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 800px;
  height: 452px;
  display: none;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Rectangle_1159 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 15px;
  padding-left: 250px;
  width: 533px;
  height: 450px;
  background-color: #C5E1EC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 3px 0px #D9D9D9;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Rectangle_1159 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Rectangle_1159 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Rectangle_1159 span#rtr-s-Rectangle_1159_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 191px;
  height: 46px;
  background-color: #E84737;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_4 span#rtr-s-show_bot_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_4 span#rtr-s-show_bot_4_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_5 {
  position: absolute;
  top: 0px;
  left: 189px;
  width: 233px;
  height: 47px;
  background-color: #E84737;
  background-image: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #3AABF0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_5 span#rtr-s-show_bot_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_5 span#rtr-s-show_bot_5_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_6 {
  position: absolute;
  top: 0px;
  left: 420px;
  width: 191px;
  height: 46px;
  background-color: #E84737;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_6 span#rtr-s-show_bot_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_6 span#rtr-s-show_bot_6_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_7 {
  position: absolute;
  top: 0px;
  left: 609px;
  width: 191px;
  height: 46px;
  background-color: #E84737;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_7 span#rtr-s-show_bot_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Image_221 {
  position: absolute;
  top: 76px;
  left: 235px;
  width: 328px;
  height: 356px;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-London {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 800px;
  height: 452px;
  display: none;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Rectangle_1160 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 15px;
  padding-left: 250px;
  width: 533px;
  height: 450px;
  background-color: #C5E1EC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 3px 0px #D9D9D9;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Rectangle_1160 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Rectangle_1160 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Rectangle_1160 span#rtr-s-Rectangle_1160_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 191px;
  height: 46px;
  background-color: #E84737;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_8 span#rtr-s-show_bot_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_8 span#rtr-s-show_bot_8_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_9 {
  position: absolute;
  top: 0px;
  left: 189px;
  width: 233px;
  height: 46px;
  background-color: #E84737;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_9 span#rtr-s-show_bot_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_9 span#rtr-s-show_bot_9_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_10 {
  position: absolute;
  top: 0px;
  left: 420px;
  width: 191px;
  height: 47px;
  background-color: #E84737;
  background-image: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #3AABF0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_10 span#rtr-s-show_bot_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_10 span#rtr-s-show_bot_10_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_11 {
  position: absolute;
  top: 0px;
  left: 609px;
  width: 191px;
  height: 46px;
  background-color: #E84737;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_11 span#rtr-s-show_bot_11_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Image_222 {
  position: absolute;
  top: 76px;
  left: 237px;
  width: 306px;
  height: 340px;
  opacity: 0.54;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Moscow_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 802px;
  height: 452px;
  display: none;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Rectangle_1165 {
  position: absolute;
  top: 0px;
  left: 2px;
  padding-right: 15px;
  padding-left: 250px;
  width: 533px;
  height: 450px;
  background-color: #C5E1EC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 3px 0px #D9D9D9;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Rectangle_1165 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Rectangle_1165 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Rectangle_1165 span#rtr-s-Rectangle_1165_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_28 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 191px;
  height: 46px;
  background-color: #E84737;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_28 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_28 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_28 span#rtr-s-show_bot_28_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_28 span#rtr-s-show_bot_28_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_29 {
  position: absolute;
  top: 0px;
  left: 191px;
  width: 233px;
  height: 46px;
  background-color: #E84737;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_29 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_29 span#rtr-s-show_bot_29_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_29 span#rtr-s-show_bot_29_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_30 {
  position: absolute;
  top: 0px;
  left: 422px;
  width: 191px;
  height: 46px;
  background-color: #E84737;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_30 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_30 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_30 span#rtr-s-show_bot_30_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_30 span#rtr-s-show_bot_30_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_31 {
  position: absolute;
  top: 0px;
  left: 611px;
  width: 191px;
  height: 47px;
  background-color: #E84737;
  background-image: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #3AABF0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_31 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-show_bot_31 span#rtr-s-show_bot_31_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 #s-Image_227 {
  position: absolute;
  top: 76px;
  left: 220px;
  width: 345px;
  height: 358px;
  opacity: 0.44;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7a768cb6-b6ea-4ef6-8cc5-d4d3423a73a6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}