#s-900ac631-ae65-44eb-a5c0-c532b253c780 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-900ac631-ae65-44eb-a5c0-c532b253c780 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-900ac631-ae65-44eb-a5c0-c532b253c780 #s-Button_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-900ac631-ae65-44eb-a5c0-c532b253c780 #s-Button_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=36) ;
  filter: alpha(opacity=36) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Image_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-900ac631-ae65-44eb-a5c0-c532b253c780 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}