#s-97395198-2777-4376-954e-7c1be4fe10cf #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-97395198-2777-4376-954e-7c1be4fe10cf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}