#s-ded00198-abd9-4e1b-8f22-92ee9f2d3f54 #s-Paragraph_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FBEED5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FBEED5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FBEED5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FBEED5;
  border-radius: 5px 5px 5px 5px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  width: 668px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-ded00198-abd9-4e1b-8f22-92ee9f2d3f54 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ded00198-abd9-4e1b-8f22-92ee9f2d3f54 #s-Button_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 128px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-ded00198-abd9-4e1b-8f22-92ee9f2d3f54 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ded00198-abd9-4e1b-8f22-92ee9f2d3f54 #s-Table_3 {
  border-collapse: separate;
}
#s-ded00198-abd9-4e1b-8f22-92ee9f2d3f54 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ded00198-abd9-4e1b-8f22-92ee9f2d3f54 #s-Table_1 {
  border-collapse: separate;
}
#s-ded00198-abd9-4e1b-8f22-92ee9f2d3f54 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}