#s-ded00198-abd9-4e1b-8f22-92ee9f2d3f54 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ded00198-abd9-4e1b-8f22-92ee9f2d3f54 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ded00198-abd9-4e1b-8f22-92ee9f2d3f54 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ded00198-abd9-4e1b-8f22-92ee9f2d3f54 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ded00198-abd9-4e1b-8f22-92ee9f2d3f54 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=36) ;
  filter: alpha(opacity=36) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Image_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ded00198-abd9-4e1b-8f22-92ee9f2d3f54 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}