#s-f634e67a-1b29-4f42-87f8-c684becfee35 > #backgroundBox {
  background-color: #C5E1EC;
  background-image: none;
  position: absolute;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Group_5 {
  position: absolute;
  top: 431px;
  left: 216px;
  width: 29px;
  height: 25px;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Rectangle_24 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 11px;
  height: 7px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Rectangle_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Rectangle_24 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Rectangle_24 span#rtr-s-Rectangle_24_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Label_59 {
  position: absolute;
  top: 3px;
  left: 1px;
  width: 27px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Label_59 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Label_59 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Label_59 span#rtr-s-Label_59_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Group_6 {
  position: absolute;
  top: 491px;
  left: 250px;
  width: 29px;
  height: 26px;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Rectangle_25 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 11px;
  height: 8px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Rectangle_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Rectangle_25 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Rectangle_25 span#rtr-s-Rectangle_25_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Label_60 {
  position: absolute;
  top: 3px;
  left: 1px;
  width: 27px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Label_60 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Label_60 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Label_60 span#rtr-s-Label_60_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Group_7 {
  position: absolute;
  top: 551px;
  left: 264px;
  width: 29px;
  height: 26px;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Rectangle_26 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 11px;
  height: 8px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Rectangle_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Rectangle_26 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Rectangle_26 span#rtr-s-Rectangle_26_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Label_61 {
  position: absolute;
  top: 3px;
  left: 1px;
  width: 27px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Label_61 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Label_61 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Label_61 span#rtr-s-Label_61_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Group_8 {
  position: absolute;
  top: 609px;
  left: 216px;
  width: 29px;
  height: 25px;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Rectangle_27 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 11px;
  height: 7px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Rectangle_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Rectangle_27 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Rectangle_27 span#rtr-s-Rectangle_27_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Label_62 {
  position: absolute;
  top: 3px;
  left: 1px;
  width: 27px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Label_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Label_62 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Label_62 span#rtr-s-Label_62_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Master_item_1 div.offset {
  position: relative;
  top: -104px;
  left: -198px;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Master_item_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1027px;
  height: 126px;
  overflow: visible;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 #s-Image_1 {
  position: absolute;
  top: 134px;
  left: 12px;
  width: 1012px;
  height: 649px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f634e67a-1b29-4f42-87f8-c684becfee35 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}