#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Rectangle_1 {
  position: absolute;
  top: 104px;
  left: 198px;
  width: 1027px;
  height: 126px;
  background-color: #C5E1EC;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Rectangle_1 span#rtr-m-d757b3b2-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Dynamic_Panel_3 {
  position: absolute;
  top: 142px;
  left: 436px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Panel_3 {
  width: 503px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Panel_3 .verticalalign {
  vertical-align: middle;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Panel_3 .Panel_3 > * {
  margin-right: 7px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Panel_3 .ghostHLayout {
  overflow-x: hidden;
  overflow-y: hidden;
  width: calc(510px);
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_24 {
  width: 74px;
  height: 22px;
  background-color: #0088CC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0088CC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0088CC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0088CC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0088CC;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_24 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_24 span#rtr-m-d757b3b2-Label_24_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_26 {
  padding-top: 1px;
  width: 75px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_26 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_26 span#rtr-m-d757b3b2-Label_26_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_38 {
  padding-top: 1px;
  width: 137px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_38 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_38 span#rtr-m-d757b3b2-Label_38_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_38 span#rtr-m-d757b3b2-Label_38_1 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_37 {
  padding-top: 1px;
  width: 113px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_37 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_37 span#rtr-m-d757b3b2-Label_37_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_39 {
  padding-top: 1px;
  width: 57px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_39 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_39 span#rtr-m-d757b3b2-Label_39_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Label_39 span#rtr-m-d757b3b2-Label_39_1 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Button_13 {
  position: absolute;
  top: 147px;
  left: 973px;
  width: 70px;
  height: 21px;
  background-color: #F0AD4E;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F0AD4E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F0AD4E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F0AD4E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F0AD4E;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Button_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Button_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Button_13 span#rtr-m-d757b3b2-Button_13_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Button_13 span#rtr-m-d757b3b2-Button_13_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Image_2 {
  position: absolute;
  top: 105px;
  left: 246px;
  width: 140px;
  height: 116px;
  opacity: 0.36;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1 #m-d757b3b2-Image_3 {
  position: absolute;
  top: 130px;
  left: 1097px;
  width: 82px;
  height: 74px;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#m-d757b3b2-8d51-4b67-b608-a669620245c1.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}